data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv
*.pkl

.venv
venv
.idea
**/artifacts/
**/artifacts_local/
**/models/
**/mlruns/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

.DS_Store

soft/

